<div id="particles-js">
  <div class="content">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>

      <div class="icons-header">
        <a aria-label="Send email" href="mailto:dungqtrinh57@gmail.com">
            <i class="icon fa fa-envelope"></i></a>
        <a aria-label="My Facebook" target="_blank" href="https://www.facebook.com/dungquoctrinh93">
            <i class="icon fa fa-facebook-official" aria-hidden="true"></i></a>
        <a aria-label="My Linkedin" target="_blank" href="https://www.linkedin.com/in/juntrinh/">
          <i class="icon fa fa-linkedin-square" aria-hidden="true"></i> </a>
        <a aria-label="My Github" target="_blank" href="https://github.com/dungquoctrinh">
            <i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
      </div>

      <a class="link" href="#about" data-scroll>About Me</a>
      <a class="link" href="#motto" data-scroll>Summary</a>
      <a class="link" href="#projects" data-scroll>Projects</a>
      <a class="link" href="Dung_Trinh_Resume.pdf" target="_blank">Resume</a>
      <!--Add more section in the future-->

  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
