<div class="container">
    <div class="user-details">
        <h3>Things I Can Do</h3>
        <p>  </p>
    </div>

    <!--FIXME: how to do this-->
    <ul class="feature-icons">
        <li class="fa-code">Write clean and efficient code</li>
        <li class="fa-cubes">Resourceful and creative troubleshooting</li>
        <li class="fa-book">Excellent communication skills</li>
        <li class="fa-coffee">Strong initiative and a positive attitude</li>
        <li class="fa-bolt">Ability to learn quickly and adapt to change</li>
        <li class="fa-users">Respectable and reliable team player</li>
    </ul>
</div>